<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.ThemeMapper">

    <!--enable mybatis default cache configure reference:
        https://mybatis.github.io/mybatis-3/zh/sqlmap-xml.html#cache
    -->
    <cache type="util.cache.MemcachedCache"/>

    <sql id="themesColumns">
        ${alias}.id                  ,
        ${alias}.master_item_id      ,
        ${alias}.title               ,
        ${alias}.start_at            ,
        ${alias}.end_at              ,
        ${alias}.theme_img           ,
        ${alias}.sort_nu             ,
        ${alias}.or_destroy          ,
        ${alias}.destroy_at          ,
        ${alias}.update_at           ,
        ${alias}.create_at           ,
        ${alias}.theme_src_img       ,
        ${alias}.theme_config_info::text   ,
        ${alias}.theme_item::text          ,
        ${alias}.master_item_tag::text,
        ${alias}.theme_master_img,
        count(*) over() theme_num,
        type,
        h5_link,
        ${alias}.theme_state,
        ${alias}.show_type
    </sql>


    <sql id="sliderColumns">
        ${alias}.id,
        ${alias}.img,
        ${alias}.sort_nu,
        ${alias}.create_at,
        ${alias}.item_target,
        ${alias}.target_type,
        ${alias}.or_nav,
        ${alias}.nav_text
    </sql>

    <sql id="itemColumns">
        ${alias}.id                 ,
        ${alias}.cate_id            ,
        ${alias}.brand_id           ,
        ${alias}.item_title         ,
        ${alias}.supply_merch       ,
        ${alias}.on_shelves_at      ,
        ${alias}.off_shelves_at     ,
        ${alias}.item_master_img    ,
        ${alias}.item_detail_imgs::text   ,
        ${alias}.item_features::text      ,
        ${alias}.theme_id           ,
        ${alias}.state              ,
        ${alias}.share_url          ,
        ${alias}.share_count        ,
        ${alias}.collect_count      ,
        ${alias}.browse_count       ,
        ${alias}.item_notice        ,
        ${alias}.or_destroy         ,
        ${alias}.destroy_at         ,
        ${alias}.update_at          ,
        ${alias}.create_at          ,
        ${alias}.master_inv_id      ,
        ${alias}.publicity::text    ,
        ${alias}.item_detail
    </sql>

    <sql id="invColumns">
        ${alias}.id                  ,
        ${alias}.item_id             ,
        ${alias}.item_color          ,
        ${alias}.item_size           ,
        ${alias}.amount              ,
        ${alias}.item_src_price      ,
        ${alias}.item_price          ,
        ${alias}.item_cost_price     ,
        ${alias}.item_discount       ,
        ${alias}.sold_amount         ,
        ${alias}.rest_amount         ,
        ${alias}.inv_img             ,
        ${alias}.item_preview_imgs::text   ,
        ${alias}.or_destroy          ,
        ${alias}.destroy_at          ,
        ${alias}.update_at           ,
        ${alias}.create_at           ,
        ${alias}.or_master_inv       ,
        case
        when ${alias}.start_at &gt;CURRENT_TIMESTAMP(0) then 'P'
        when ${alias}.end_at  &lt;CURRENT_TIMESTAMP(0) then 'D'
        else ${alias}.state
        end as state,
        ${alias}.inv_area            ,
        case
        when ${alias}.inv_area='H' then '杭州保税仓备货'
        when ${alias}.inv_area='G' then '广州保税仓备货'
        when ${alias}.inv_area='S' then '上海保税仓备货'
        when ${alias}.inv_area='SZ' then '上海保税区直邮'
        when ${alias}.inv_area='GZ' then '广州保税仓直邮'
        when ${alias}.inv_area='HZ' then '杭州保税仓直邮'
        when ${alias}.inv_area='K' then '海外直邮'
        when ${alias}.inv_area='NK' then '国内仓直邮'
        else '其它'
        end as inv_area_nm,
        ${alias}.restrict_amount     ,
        ${alias}.inv_title           ,
        ${alias}.inv_weight          ,
        ${alias}.inv_customs         ,
        COALESCE(${alias}.postal_tax_rate,(select f.rate from tax_code f where f.code = t.postal_tax_code)) as postal_tax_rate,
        (select parameter_val from sys_parameter where parameter_code='POSTAL_STANDARD') as postalStandard,
        share_url             ,
        share_count           ,
        collect_count         ,
        browse_count          ,
        theme_id,
        start_at,
        end_at
    </sql>

    <sql id="skusColumns">
        ${alias}.sku_type,
        ${alias}.sku_type_id,
        ${alias}.inv_id,
        case
        when ${alias}.sku_type_start_at &gt;CURRENT_TIMESTAMP(0) then 'P'
        when ${alias}.sku_type_end_at  &lt;CURRENT_TIMESTAMP(0) then 'D'
        else ${alias}.sku_type_status
        end as sku_type_status,
        ${alias}.sku_type_price,
        ${alias}.sku_type_theme_id,
        ${alias}.sku_type_sold_amount,
        ${alias}.sku_type_limit_amount,
        ${alias}.sku_type_title,
        ${alias}.sku_type_start_at,
        ${alias}.sku_type_end_at,
        ${alias}.sku_type_restrict_amount,
        ${alias}.sku_type_floor_price,
        ${alias}.sku_type_discount,
        ${alias}.sku_type_img,
        ${alias}.id,
        ${alias}.item_id,
        ${alias}.item_color,
        ${alias}.item_size,
        ${alias}.amount,
        ${alias}.item_src_price,
        ${alias}.item_price,
        ${alias}.item_cost_price,
        ${alias}.item_discount,
        ${alias}.sold_amount,
        ${alias}.rest_amount,
        ${alias}.inv_img,
        ${alias}.item_preview_imgs::text,
        ${alias}.or_destroy,
        ${alias}.destroy_at,
        ${alias}.update_at,
        ${alias}.create_at,
        ${alias}.or_master_inv,
        ${alias}.state,
        ${alias}.inv_area,
        case
        when ${alias}.inv_area='H' then '杭州保税仓备货'
        when ${alias}.inv_area='G' then '广州保税仓备货'
        when ${alias}.inv_area='S' then '上海保税仓备货'
        when ${alias}.inv_area='SZ' then '上海保税区直邮'
        when ${alias}.inv_area='GZ' then '广州保税仓直邮'
        when ${alias}.inv_area='HZ' then '杭州保税仓直邮'
        when ${alias}.inv_area='K' then '海外直邮'
        when ${alias}.inv_area='NK' then '国内仓直邮'
        else '其它'
        end as inv_area_nm,
        ${alias}.restrict_amount,
        ${alias}.inv_title,
        ${alias}.inv_customs,
        COALESCE(${alias}.postal_tax_rate,(select f.rate from tax_code f where f.code = ${alias}.postal_tax_code)) as postal_tax_rate,
        (select parameter_val from sys_parameter where parameter_code='POSTAL_STANDARD') as postalStandard,
        ${alias}.inv_weight,
        ${alias}.postal_tax_rate,
        ${alias}.carriage_model_code,
        ${alias}.record_code,
        ${alias}.start_at,
        ${alias}.end_at,
        ${alias}.or_vary_price,
        ${alias}.share_url,
        ${alias}.share_count,
        ${alias}.collect_count,
        ${alias}.browse_count,
        ${alias}.theme_id,
        ${alias}.inv_code,
        count(*) over() sku_num
        <!--${alias}.or_show,-->

    </sql>


    <select id="getAllSkus" resultType="domain.SkuVo" parameterType="domain.SkuVo">
        select
        <include refid="skusColumns">
            <property name="alias" value="t"/>
        </include>
        from skus t where 1=1
        <if test="skuType!=null and skuType!=''">
            and sku_type=#{skuType}
        </if>
        <if test="skuTypeId!=null and skuTypeId!=''">
            and sku_type_id=#{skuTypeId}
        </if>
        <if test="invId!=null and invId!=''">
            and inv_id=#{invId}
        </if>
        <if test="skuTypeStatus!=null and skuTypeStatus!=''">
            and sku_type_status=#{skuTypeStatus}
        </if>
        <!--<if test="orShow!=null and orShow!=''">-->
            <!--and or_show=#{orShow}-->
        <!--</if>-->
    </select>

    <!--  首页主题图分页显示  -->
    <select id="getThemes" resultType="domain.Theme" parameterType="domain.Theme">
        select
        <include refid="themesColumns">
            <property name="alias" value="t"/>
        </include>
        from themes t,theme_cate tc
        where 1=1 and t.end_at &gt;=CURRENT_TIMESTAMP(0) and t.or_destroy=false

        <if test="themeState!=null and themeState !=''">
            and t.theme_state = #{themeState}
        </if>
        <if test="themeCateCode!=null and themeCateCode !=''">
            and tc.theme_cate_code = #{themeCateCode}
        </if>

        and t.id=tc.theme_id

        ORDER BY t.sort_nu desc
        <if test="pageSize!=null and pageSize !=''">
            LIMIT #{pageSize}
        </if>
        <if test="offset!=null and offset !=''">
            OFFSET #{offset}
        </if>
    </select>

    <!--  获取单个主题  -->
    <select id="getThemeBy" resultType="domain.Theme" parameterType="domain.Theme">
        select
        <include refid="themesColumns">
            <property name="alias" value="t"/>
        </include>
        from themes t
        where 1=1
        <if test="id!=null and id !=''">
            and t.id = #{id}
        </if>
    </select>

    <!--  首页滚动图显示 -->
    <select id="getSlider" resultType="domain.Slider" parameterType="domain.Slider">
        select
        <include refid="sliderColumns">
            <property name="alias" value="t"/>
        </include>
        from slider t where 1=1
        <if test="id!=null and id !=''">
            and t.id = #{id}
        </if>
        <if test="orNav!=null">
            and t.or_nav = #{orNav}
        </if>
        <if test="sliderType!=null and sliderType !=''">
            and t.slider_type = #{sliderType}
        </if>
        ORDER BY t.sort_nu
    </select>

    <!--获取商品信息-->
    <select id="getItemBy" resultType="domain.Item" parameterType="domain.Item" >
        select
        <include refid="itemColumns">
            <property name="alias" value="t"/>
        </include>
        from items t
        where 1=1
        <if test="id!=null and id !=''">
            and t.id = #{id}
        </if>
        ORDER BY t.create_at DESC
    </select>

    <!--获取库存信息-->
    <select id="getInvBy" resultType="domain.Inventory" parameterType="domain.Inventory">
        select
        <include refid="invColumns">
            <property name="alias" value="t"/>
        </include>
        from inventories t
        where 1=1
        <if test="itemId != null and itemId!=''">
            and t.item_id = #{itemId}
        </if>
        <if test="id != null and id!=''">
            and t.id = #{id}
        </if>
        <if test="orMasterInv != null and orMasterInv!=''">
            and t.or_master_inv = #{orMasterInv}
        </if>
    </select>


    <sql id="versioningColumns">
        ${alias}.id              ,
        ${alias}.release_number   ,
        ${alias}.product_type    ,
        ${alias}.download_link   ,
        ${alias}.admin_user_id   ,
        ${alias}.release_desc    ,
        to_char(${alias}.release_at, 'YYYY-MM-DD HH24:MI:SS') release_at,
        ${alias}.file_name         ,
        ${alias}.current_version   ,
        ${alias}.update_req_xml     ,
        ${alias}.app_store_download_link,
        ${alias}.release_name
    </sql>
    <!-- -->
    <select id="getVersioning" resultType="domain.VersionVo" parameterType="domain.VersionVo" useCache="false">
        select
        <include refid="versioningColumns">
            <property name="alias" value="t"/>
        </include>
        from versioning t where 1=1
        <if test="productType!=null and productType!=''">
            and product_type=#{productType}
        </if>
        <if test="id!=null and id!=''">
            and id=#{id}
        </if>
        order by current_version DESC,release_number DESC
    </select>

    <sql id="navItemCateColumns">
        ${alias}.id              ,
        ${alias}.nav_id   ,
        ${alias}.cate_type    ,
        ${alias}.cate_type_id   ,
        ${alias}.or_destroy
    </sql>

    <select id="getNavItemCate" resultType="domain.NavItemCate" parameterType="domain.NavItemCate">
        select
        <include refid="navItemCateColumns">
            <property name="alias" value="t"/>
        </include>
        from nav_item_cate t where 1=1 and or_destroy=false
        <if test="navId!=null and navId!=''">
            and nav_id=#{navId}
        </if>

    </select>

    <select id="getSkusByNavItemCate" resultType="domain.SkuVo" parameterType="domain.NavItemCateQuery">
        select
        <include refid="skusColumns">
            <property name="alias" value="t"/>
        </include>
        from skus t where 1!=1

        <if test="itemIdList!=null">
            union (
            select
            <include refid="skusColumns">
                <property name="alias" value="t"/>
            </include>
            from skus t  where 1=1 and t.or_master_inv=true and t.sku_type='item'
            <foreach item="itemId" collection="itemIdList" separator=" or " open="(" close=")" index="index">
                t.item_id=#{itemId}
            </foreach>
            )
        </if>

        <if test="invIdList!=null">
            union (
            select
            <include refid="skusColumns">
                <property name="alias" value="t"/>
            </include>
            from skus t  where 1=1 and t.sku_type='item'
            <foreach item="invId" collection="invIdList" separator=" or " open="(" close=")" index="index">
                t.sku_type_id=#{invId}
            </foreach>
            )
        </if>

        <if test="pinIdList!=null">
            union (
            select
            <include refid="skusColumns">
                <property name="alias" value="t"/>
            </include>
            from skus t  where 1=1 and t.or_master_inv=true and t.sku_type='pin'
            <foreach item="pinId" collection="pinIdList" separator=" or " open="(" close=")" index="index">
                t.sku_type_id=#{pinId}
            </foreach>
            )
        </if>

        <if test="cateIdList!=null">
            union (
            select
            <include refid="skusColumns">
                <property name="alias" value="t"/>
            </include>
            from skus t ,items it where 1=1 and t.or_master_inv=true and t.item_id=it.id and
            <foreach item="cateId" collection="cateIdList" separator=" or " open="(" close=")" index="index">
                it.cate_id=#{cateId}
            </foreach>
            )
        </if>

        <if test="themeIdList!=null">
            union (
            select
            <include refid="skusColumns">
                <property name="alias" value="t"/>
            </include>
            from skus t  where 1=1 and t.or_master_inv=true and
            <foreach item="themeId" collection="invIdList" separator=" or " open="(" close=")" index="index">
                t.themeId like '%${themeId}%'
            </foreach>
            )
        </if>

        ORDER BY create_at DESC
        <if test="pageSize!=null and pageSize !=''">
            LIMIT #{pageSize}
        </if>
        <if test="offset!=null and offset !=''">
            OFFSET #{offset}
        </if>

    </select>

    <select id="getRecommendSku" resultType="domain.SkuVo" parameterType="domain.SkuVo">
        select
        <include refid="skusColumns">
            <property name="alias" value="t"/>
        </include>
        from skus t where 1=1 and sku_type_status='Y'
        <if test="skuType!=null and skuType!=''">
            and sku_type=#{skuType}
        </if>
        <if test="skuTypeId!=null and skuTypeId!=''">
            and sku_type_id=#{skuTypeId}
        </if>
        <if test="invId!=null and invId!=''">
            and inv_id=#{invId}
        </if>
        <if test="skuTypeStatus!=null and skuTypeStatus!=''">
            and sku_type_status=#{skuTypeStatus}
        </if>

        order by sku_type_sold_amount desc

        <if test="limitNum!=null and limitNum!=''">
            limit #{limitNum}
        </if>

    </select>


    <sql id="catesColumns">
        ${alias}.cate_id,
        ${alias}.pcate_id,
        ${alias}.cate_nm,
        ${alias}.cate_desc,
        ${alias}.cate_code
    </sql>

    <!-- 获取类别信息 -->
    <select id="getCate" resultType="domain.Cates" parameterType="domain.Cates">
        select
        <include refid="catesColumns">
            <property name="alias" value="t"/>
        </include>
        from cates t where 1=1
        <if test="pcateId !=null">
            AND pcate_id = #{pcateId}
        </if>
        <if test="cateId !=null">
            AND cate_id = #{cateId}
        </if>
        ORDER BY t.cate_nm;
    </select>

</mapper>
