<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>服务条款</title>
    <style>
        h2{
            font-size: 20px;
            text-align: center;
        }
        p,h3,h4{
            margin: 0;
            text-indent: 2em;
            padding: 8px 10px;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 1px;
        }
        h3{
            text-indent: 0;
        }
    </style>
</head>
<body>
    <div>
        <h2>韩秘美服务协议</h2>
        <p>
            为使用韩秘美的服务，您应当仔细阅读并遵守《韩秘美服务协议》。
            本服务条款阐述之条款和条件适用您使用韩秘美网站（所涉域名为：
            www.hanmimei.com）所提供的电子市场贸易和交流的各种工具和服
            务(下称“服务”)。
        </p>
        <h3>［协议的范围］</h3>
        <p>
            本协议的内容是您与韩秘美之间关于用户使用韩秘美相关服务所
            订立的协议。“韩秘美”是指北京东方爱怡斯科技有限公司运营的电
            子商务网站。“用户”是指使用韩秘美相关服务的使用人，在本协议
            中更多地称为“您”。
        </p>
        <h3>1.   接受条款</h3>
        <p>
            a)   您以任何方式进入韩秘美网站并使用服务即表示您已充分阅读、理解并同意接受本协议的条款和条件(以下合称“条款”)。
        </p>
        <p>
            b)   本协议内容包括协议正文，本协议提及的所有其他协议或规则，及韩秘美已经发布或将来可能发布的各类规则。所有规则为协议不可分割的一部分，与协议正文具有同等法律效力。
        </p>
        <p>
            c)   韩秘美有权根据业务需要酌情修订任何条款，并以网站公告的形式进行更新，不再单独通知予您。经修订的条款一经在韩秘美网站公布，即产生效力。如您不同意相关修订，请您立即停止使用服务。如您选择继续使用服务，则将视为您已接受经修订的条款，当您与韩秘美网站发生争议时，应以最新的条款为准。
        </p>
        <h3>2.   注册</h3>
        <h4>a)   服务使用对象</h4>
        <p>
            您确认，在您完成注册程序或以其他韩秘美网站允许的方式实际使用
            服务时，您应当是具备完全民事权利能力和与所从事的民事行为相适
            应的行为能力的人或任何法律主体。若您不具备前述主体资格，请
            勿使用服务，否则您应承担因此而导致的一切后果，且韩秘美有权注
            销您的账户，并向您索偿。如您代表一家公司或其他法律主体在韩秘
            美网站登记成为会员或商家，则您声明和保证，您有权使该公司或该
            法律主体受本协议条款的约束。
        </p>

        <h4>b)   韩秘美网站买家</h4>
        <p>
            您了解并同意，您可以通过您的韩秘美网站用户名直接登录。您在此
            明确授权，您的账户信息在您注册成功时，已授权韩秘美使用，以使
            您更便捷地使用韩秘美网站服务。
        </p>

        <h4>
            c)   账户安全
        </h4>
        <p>
            您须自行负责对您的韩秘美网站用户名、昵称和密码保密，且须对该
            用户名、昵称和密码下发生的所有活动（包括但不限于信息披露、发
            布信息、网上点击同意或提交各类规则协议、网上续签协议或购买服
            务等）承担责任。您同意：(a)如发现任何人未经授权使用您的韩秘
            美网站用户名、昵称和密码，或发生违反保密规定的任何其他情况，
            您会立即通知韩秘美；及(b)确保您在每个上网时段结束时，以正确
            步骤离开网站。韩秘美不能也不会对因您未能遵守本款规定而发生的
            任何损失或损毁负责。您理解韩秘美对您的请求采取行动需要合理时
            间，韩秘美对在采取行动前已经产生的后果（包括但不限于您的任何
            损失）不承担任何责任。除非有法律规定或司法裁定，且征得韩秘美
            的同意，否则，您的韩秘美用户名、昵称和密码不得以任何方式转让、
            赠与或继承（与账户相关的财产权益除外）。
        </p>
        <h3>3.   交易流程及规定</h3>
        <h4>您同意遵守以下在韩秘美网站的交易规定：</h4>
        <p>a)   所有韩秘美会员应当按照韩秘美系统设置的交易流程进行交易。</p>
        <p>b)   自买家拍下交易条件之时起三天内，买家未付款的，交易关闭。</p>
        <p>c)   买家申请退款后，依情况分别处理，具体请查看售后服务总则</p>
        <h3>4.   评价</h3>
        <h4>您同意并了解：</h4>
        <p>
            a)   买方有权基于真实的交易在交易成功后十五天内进行评价。
        </p>
        <p>
            b)   在信用评价中，评价人若给予好评，则信用积分增加一分；若给予差评，则信用积分减少一分；若给予中评或十五天内双方均未评价，则信用积分不变。如评价人给予好评而对方未在十五天内给其评价，则评价人信用积分增加一分。
        </p>
        <p>
            c)   相同买、卖家任意十四天内就同款商品的多笔支付宝交易，多个好评只加一分、多个差评只减一分。买家与天猫国际卖家之间交易，买家信用积分仅计取前三次。
        </p>
        <p>
            d)   评价人可在作出中、差评后的三十天内，对信用评价进行一次修改或删除。三十天后评价不得修改。韩秘美有权删除评价内容中所包含的污言秽语。
        </p>
        <p>
            e)   店铺评分由买家对卖家作出，包括宝贝与描述相符、卖家服务态度、卖家发货速度、物流发货速度四项。每项店铺评分均为动态指标，系此前连续六个月内所有评分的算术平均值。买家若完成对韩秘美卖家店铺评分中宝贝与描述相符一项的评分，则其信用积分增加一分。
        </p>
        <p>
            f)   每个自然月，相同买、卖家之间交易，卖家店铺评分仅计取前三次。 店铺评分一旦做出无法修改。
        </p>
        <p>
            g)   自交易成功之日起一百八十天（含）内，买家可在作出韩秘美店铺评分后追加评论，追加评论的内容不得修改。卖家可对追加评论的内容进行解释，追加评论不影响韩秘美商家的店铺评分。
        </p>
        <h3>5.   服务终止</h3>
        <p>买家：您了解并同意，韩秘美可自行全权决定以任何理由(包括但不限于韩秘美认为您已违反本协议或任何其他有关协议或规则)终止您的账户或您对服务的使用。您有权向韩秘美要求注销您的账户，经韩秘美审核同意的，韩秘美将注销您的账户，届时，您与韩秘美基于本协议的合同关系即终止。您的账户被注销后，韩秘美没有义务为您保留或向您披露您账户中的任何信息，也没有义务向您或第三方转发任何您未曾阅读或发送过的信息。</p>
        <h3>6.   隐私</h3>
        <p>
            由韩秘美保全的任何有关您的个人资料即受到“个人资料（私
            隐）条例”和韩秘美的“隐私权政策”之规管。具体细则请查看“隐
            私权政策”。
        </p>
        <h3>7. 责任限制</h3>
        <p>
            您明确理解和同意，韩秘美不对因下述任一情况而发生的任何损害赔
            偿承担责任，包括但不限于利润、商誉、使用、数据等方面的损失或
            其他无形损失的损害赔偿(无论韩秘美是否已被告知该等损害赔偿的
            可能性)：(i)使用或未能使用服务；(ii)因通过或从服务购买或获取任
            何货物、样品、数据、资料或服务，或通过或从服务接收任何信息或
            缔结任何交易所产生的获取替代货物和服务的费用；(iii)未经批准接
            入或更改您的传输资料或数据；(iv)任何第三者对服务的声明或关于
            服务的行为；或(v)因任何原因而引起的与服务有关的任何其他事宜，
            包括疏忽。
        </p>
        <p>
            韩秘美会尽一切努力使您在使用韩秘美网站的过程中得到乐趣。遗憾
            的是，韩秘美不能随时预见到任何技术上的问题或其他困难。该等困
            难可能会导致数据损失或其他服务中断。为此，您明确理解和同意，
            您使用“服务”的风险由您自行承担，且服务以“按现状”和“按可
            得到 ”的状态提供。韩秘美明确声明不作任何种类的明示或暗示的
            保证，包括但不限于关于适销性、适用于某一特定用途和无侵权行为
            等方面的保证。韩秘美对下述内容不作保证：(i)服务会符合您的要求；
            (ii)服务不会中断，且适时、安全和不带任何错误；(iii)通过使用服务
            而可能获取的结果将是准确或可信赖的；及(iv)您通过服务而购买或
            获取的任何产品、服务、资料或其他材料的质量将符合您的预期。通
            过使用服务而下载或以其他形式获取任何材料是由您自行全权决定
            进行的，且与此有关的风险由您自行承担，对于因您下载任何该等材
            料而发生的您的电脑系统的任何损毁或任何数据损失，您将自行承担
            责任。您从韩秘美或通过或从服务获取的任何口头或书面意见或资料，
            均不产生未在本协议内明确载明的任何保证责任。
        </p>

        <h3>8. 赔偿</h3>
        <p>
            您同意，如因您违反本协议或任何其他与使用服务有关的协议、规则
            或文件，或因您违反法律侵害了第三方的合法权利，或因您违反法律
            须承担行政或刑事责任，而使第三方或行政、司法机关对北京可靠科
            技有限公司及其子公司、关联公司、分公司、董事、职员、代理人提
            出索赔或处罚要求（包括司法费用和其他专业人士的费用），您必须
            全额赔偿给北京东方爱怡斯科技有限公司及其子公司、关联公司、分
            公司、董事、职员、代理人，并使其等免遭损失。
        </p>
        <h3>9. 通知</h3>
        <p>
            您应当准确填写并及时更新您提供的电子邮件地址、联系电话、联系
            地址、邮政编码等联系方式，以便韩秘美或其他用户与您进行有效联
            系，因通过这些联系方式无法与您取得联系，导致您在使用韩秘美服
            务过程中产生任何损失或增加费用的，应由您完全独自承担。您了解
            并同意，您有义务保持你提供的联系方式的有效性，如有变更需要更
            新的，您应按韩秘美的要求进行操作。
        </p>
        <h3>10. 不可抗力</h3>
        <p>
            对于因韩秘美合理控制范围以外的原因，包括但不限于自然灾害、罢
            工或骚乱、物质短缺或定量配给、暴动、战争行为、政府行为、通讯
            或其他设施故障或严重伤亡事故等，致使韩秘美延迟或未能履约的，
            韩秘美不对您承担任何责任。
        </p>
        <h3>11. 法律适用、管辖及其他</h3>
        <p>
            本协议之效力、解释、变更、执行与争议解决均适用中华人民共和国大陆地区法律；如法律无相关规定的，参照商业惯例及/或行业惯例。任何您与韩秘美因本协议或韩秘美服务所引起或与其有关的任何争议均可向中国国际经济贸易仲裁委员会提交仲裁，仲裁语言为中文。
        </p>
        <h3>12. 其他</h3>
        <p>您与韩秘美仅为独立订约人关系。本协议无意结成或创设任何代理、合伙、合营、雇佣与被雇佣或特性授权与被授权关系。您同意韩秘美因经营业务需要有权将本协议项下的权力义务就部分或全部进行转让，而无须再通知予您并取得您的同意。 倘若本协议任何条款被裁定为无效或不可强制执行，该项条款应被撤销，而其余条款应予遵守和执行。条款标题仅为方便参阅而设，并不以任何方式界定、限制、解释或描述该条款的范围或限度。韩秘美未就您或其他人士的某项违约行为采取行动，并不表明韩秘美撤回就任何继后或类似的违约事件采取动的权利。</p>
    </div>
</body>
</html>