<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>服务条款</title>
    <style>
        h2{
            font-size: 20px;
            text-align: center;
            color: rgb(255,70,78);
        }
        p,h3,h4{
            margin: 0;
            padding: 8px 10px;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 1px;
        }
        h3{
            text-indent: 0;
        }
        a{
            font-size: 14px;
        }
    </style>
</head>
<body>
    <h2>隐私权政策</h2>

    <h3>韩秘美网站</h3>
    <h4>隐私权政策话</h4>
    <h4>(版本：2015年8月1日)</h4>

    <p>URL为www.hanmimei.com的网站(“网站”)系由北京东方爱怡斯科技
        有限公司 (“我们”)运营的一个电子商务平台。我们认可您的隐私
        权以及对您信息保密的重要性。本隐私权政策适用于我们所提供的所
        有商品和服务，并将对我们如何收集、适用及披露您的信息作出规定。</p>
    <h4>1、资料收集</h4>

    <p>1)您的隐私对我们非常重要，我们已采取措施，以确保在收集为您提供服务及保护您的帐户所必要的信息以外我们不会收集其他信息。</p>
    <p>2)就个人及授权企业代表而言，在您注册成为网站的用户之时，您可能被要求填写一份注册表，其中要求您提供包括但不限于您的姓名、地址、电话号码、传真号码及电子邮件地址等信息(“注册信息”)。</p>
    <p>3)如您自网站其他用户处购买商品或服务，我们也可能会向您收集包括但不限于您的实名认证信息，账单及交付信息及商品跟踪信息等信息(“账户信息”)。</p>
    <p>4)我们在您使用网站时记录并保存您的活动详情。如您通过我们的网站进行线上买卖交易，我们也会收集有关该等交易的信息，包括但不限于商品种类和规格、定价和交付信息以及任何交易纠纷记录(“活动信息”)。</p>
    <p>5)注册信息、账户信息及活动信息在其构成可辨识个人的资料的范围内统称为“个人资料”。</p>
    <p>6)就企业而言，在您注册成为用户之时，您可能被要求提供关于您企业的信息，包括但不限于您企业的名称、电话号码、联系地址、电子邮件地址及您企业的网页地址(“企业资料”)。</p>
    <p>7)敬请注意，您提供特定类别的个人资料和企业资料(在进行资料收集时将载明)系强制性要求。如您未提供任何或充分的、标记为必须提供的个人资料和/或企业资料，我们可能无法完成注册程序或向您提供我们的商品或服务。</p>
    <p>8)我们也会记录和保存用户在我们平台上的购买和浏览活动，包括但不限于IP地址、浏览模式和用户行为模式。此外，我们收集有关我们网站以及我们网站访客的统计信息，包括但不限于IP地址、浏览器软件、运行系统、软件和硬件属性、访问页面、会话和独立访客数量(合称为“非个人资料”)。</p>
    <h3>2、个人资料的使用</h3>
    <h4>如您向我们提供了任何个人资料，即视为您已授权我们为下述目的收
        集、保存并使用该等个人资料：</h4>
    <p>1）验证您的身份；</p>
    <p>2）验证您可成为我们网站注册用户的适格性；</p>
    <p>3）处理您的用户注册申请，向您提供您在我们网站的登录ID并管理您的注册；</p>
    <p>4）向您提供顾客服务，答复您的咨询、反馈、索赔或纠纷；</p>
    <p>5）促进我们网站上与买家的沟通；</p>
    <p>6）为改善我们网站的内容及设计、改进我们的商品及服务以及为营销及推广目的而进行研究或统计资料分析；</p>
    <p>7）我们可能使用您的姓名、电话号码、住所地址、电子邮箱地址及传真号码(“营销资料”)来向您提供通知、调查、商品速递、通讯及其他有关我们在网站上提供的商品和服务的营销材料；</p>
    <p>8）如您通过发布工具及任何讨论论坛主动向我们网站提交任何将在我们网站上发布的信息，则视为您已同意在我们网站上发布该等信息(“主动信息”)；</p>
    <p>9）为上述任何目的、或法律要求、或就向我们提起的任何权利主张或潜在主张所需作出的此类披露。</p>
    <h4>3、个人资料的披露</h4>
    <p>1）您进一步同意，我们可向我们所聘请的、协助我们向您提供服务(包括资料输入、管理顾客资料库、就促销商品和服务联系您、运输服务、延期支付服务、会员认证和验证服务以及其他顾客服务)的第三方服务提供商(“第三方服务提供商”)披露并转递(无论在香港或国外)您的个人资料。</p>
    <p>2）在必要时我们亦可能为上文第2点中第9)条的目的向我们的专业顾问、法律执行机关、保险公司、政府和监管机构及其他组织披露并转递(无论在香港或国外)您的个人资料。</p>
    <p>3）我们将保存您提供的任何个人资料，并且，我们的雇员、我们聘请的任何第三方服务提供商以及上文第3点中第2)条所述的第三方均可为以上第第2点中第1)至第9)条条所述目的查阅该等个人资料。</p>
    <p>4）所有主动信息均可能在网站上公开，并因此可以被任何互联网用户查阅。您向我们披露的任何主动信息均将成为公开信息，并且您放弃对该等信息的任何专有权利(包括但不限于保密权和著作权)。您在向我们提交主动信息时应审慎决定是否包含任何个人或专有信息。</p>
    <p>5）为完成交易我们将与和交易有关的银行、法律执行机关、政府及监管机关或供应商共享您的账户信息。尽管我们已采用最新技术和内部程序防止您的账户信息和其他个人资料被入侵，我们无法保证该等技术或程序可以杜绝信息被窃取、丢失或滥用的风险。</p>
    <p>6）我们可能向第三方提供统计信息，但我们在提供该等信息时，未经您允许，我们不会提供可识别身份的信息。</p>
    <p>7）为向您提供我们本身不提供的商品及服务的优惠，我们已与其他方及其他网站达成合作。我们向您提供的访问该等其他方及其网站的路径包括在我们网站使用前往该等网站的超链接或者 “联名”网站(在该等网站内我们及其他合作方共享一个统一资源定位器、一个域名或某一互联网域名内的网页)。在某些情况下您可能被要求提交个人信息以注册或申请由该等第三方或联名合作方所提供的商品或服务。本隐私权政策不适用于该等第三方网站或联名网站。该等其他方的隐私权政策可能有别于本隐私权政策，并且我们对您向该等第三方提供的信息无控制权。您在回应任何由该等网站宣传的商品或服务信息前，应阅读该等第三方网站及联名网站的隐私权政策。</p>
    <h4>4、查阅/更正个人资料的权利</h4>
    <p>1）根据条例，您有权查阅我们保存的个人信息并要求更正该等信息。</p>
    <p>2）如您对本隐私权政策有任何问题，或您希望查阅或更正您的个人资料，您可以发送至以下邮箱地址：</p>
    <p>邮箱：<a href="javascript:void(0)" style="text-decoration: none">hmmcs@@kakaocorp.cn</a></p>

    <p>地址：北京可靠科技有限公司，北京市朝阳区望京利泽中园二区203号洛娃大厦A座3层1304室</p>
    <p>3）根据条例，我们保留因处理任何资料查阅或更正要求而向您收取合理费用的权利。</p>
    <h4>5、小型文字档案</h4>
    <p>1）我们使用小型文字档案(“cookies”)储存关于您的特定信息并追踪您对我们网站的访问。网站使用cookies以加强对其用户的识别相当普遍。</p>
    <p>2） “cookie”是向您浏览器发送并储存在您计算机硬盘驱动器上的少量资料。“cookie”仅在您使用计算机访问我们网站时才会发送至您计算机的硬盘驱动器。如您未激活或清除“cookie”，您每次使用相同计算机访问我们网站，您的访问会被通知到我们的网络服务器，我们因此了解您的访问及使用模式。</p>
    <p>3）通常情况下，我们使用“cookies”识别您的身份并使我们i)查阅您的注册信息或账户信息，故您无需重新输入；ii)收集有关用户使用情况的统计信息；iii)研究访问模式并根据用户兴趣协助进行针对性宣传；iv)协助我们的合作伙伴追踪用户访问网站并处理指令；以及v)跟踪进展情况并参与宣传。</p>
    <p>4）您可通过对安装在您计算机内、您用于访问网站的浏览器进行设置以决定是否接受以及如何接受“cookie”。如您作出选择，您可以改变该等配置。通过设置浏览器中的参数，您可以接受所有“cookies”或您可选择在某一“cookie”发给您时通知到您或您可选择拒绝所有“cookies”。如您通过在浏览器中选择“cookie”拦截功能以拒绝所有“cookies”，您在我们网站可能更为频繁被要求重新输入信息，并可能无法获得我们网站的某些特殊功能。</p>
    <h3>6、未成年人</h3>
    <p>如未成年人(18周岁以下)未经父母或监护人同意已向我们提供个人
        信息，其父母或监护人应通过以下方式联系我们，删除该等信息：</p>
    <p>邮箱：<a href="javascript:void(0)">hmmcs@@kakaocorp.cn</a></p>
    <p>地址：北京东方爱怡斯科技有限公司，北京市朝阳区望京利泽中园二区203号洛娃大厦A座3层1304室</p>
    <h4>7、安全措施</h4>
    <p>1）为保证资料准确性并确保对所持信息的正确使用，我们已采取商业上合理的安全措施防止非法访问我们网站。</p>
    <p>2）作为我们网站的注册用户，您的注册信息和账户信息(如有)可通过您的帐户被查阅和编辑，该账户通过密码保护。我们建议您不要向任何人透露您的密码。我们的工作人员绝不会在主动拨出的电话中或主动发出的电子邮件中询问您的密码。如您与他人共用计算机，您不应选择在该共用计算机上保存您的登录信息(如用户名和密码)。请谨记当您结束会话时，请登出帐号并关闭您的浏览器窗口。</p>
    <p>3）互联网或任何无线网络上的任何资料传输均无法保证绝对安全。因此，尽管我们尝试为您保护我们所持的信息，我们仍无法保证您传输给我们的任何信息的安全性，对该等信息传输您应自担风险。</p>
    <h4>8、变更本隐私权政策</h4>
    <p>对本隐私权政策的任何变更将以我们在我们网站上登载修订后的隐
        私权政策作为通知。新隐私权政策一经登载在我们网站上将立即生效。
        您同意我们所持的任何有关您的信息(如本政策所载且无论其在新政
        策生效前或生效后收集)均将适用隐私权政策的最新版本。</p>
    <h4>9、您的反馈</h4>
    <p>我们欢迎您就我们的隐私权政策以及我们提供给您的服务提出任何
        建议。您可将建议和反馈邮寄至以下地址：地址：北京东方爱怡斯科
        技有限公司，北京市朝阳区望京利泽中园二区203号洛娃大
        厦A座3层1304室</p>
</body>
</html>