@(lang:String)
@import play.i18n._

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form action="" method=post>
    <dl>
        <dt>@Messages.get(new Lang(Lang.forCode(lang)),"validate.username"):
        <dd><input type=text name=username>
        <dt>@Messages.get(new Lang(Lang.forCode(lang)),"validate.password"):
        <dd><input type=password name=password>
        <dd><input type=submit value='@Messages.get(new Lang(Lang.forCode(lang)),"validate.login")'>
    </dl>
</form>
</body>
</html>